@{
    ViewData["Title"] = "Home Page";
}


<h2>Brian Kobasa</h2>

<address>
    <abbr title="Phone">P:</abbr>
    239.218.6104
</address>

<address>
    <strong>Email:</strong> <a href="mailto:BrianKobasa@gmail.com">BrianKobasa@gmail.com</a><br />
</address>
